################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EFCore/.vs/EFCore
/EFCore/EFCore/bin/Debug/net5.0
/EFCore/EFCore/obj
/EFCoreFluentAPI/bin/Debug/net5.0
/EFCoreFluentAPI/obj/Debug/net5.0
/EFCoreFluentAPI/obj
